$breakpoints: (
large: 1199px 
);
$background: #1A1B26;
$background-content: #232433;
$background-content-active: #2f3344;
$border: #434A69;
$font-color: #A9B1D6;
$font-color-link: #434A69;
$light-green: #9ECE6A;
$light-blue: #89DDFF;
$light-yellow: #F8CD7A;
$box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;